* {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #f5f5f5;
}

body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.titulo {
    /* border: 0.5rem solid red; */
    text-align: center;
    background-color: #252440;
    color: whitesmoke;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;

}


/* ----------------- MENU (se for usar depois) ----------------- */
.menu {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem; /* Espaço entre botões */
    padding: 0.5rem;
}

.menu button {
    background-color: #ffffff33;
    color: whitesmoke;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: background 0.3s ease;
}


.menu button:hover {
    background-color: #ffffff55;
}

section{
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.questao1, .questao3, .questao5{
    background-color: white;
    color: #252440;
} 

.questao2, .questao4, .questao6{
    background-color: #252440;
    color: whitesmoke;   
}

.resolucao_questao1,
.resolucao_questao2,
.resolucao_questao3,
.resolucao_questao4,
.resolucao_questao5,
.resolucao_questao6a,
.resolucao_questao6b,
.resolucao_questao6c {
    margin-top: 0.5rem;
}

input[type="number"]{
    padding: 0.4rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    margin: 0.2rem 0.5rem;
    width: 10rem
}

input[type="number"]:focus{
    outline: none;
    /* background-color: #252440; */
    box-shadow: 0 0 4px rgba(37,36,64,0.5);
}

button{
    background-color: #252440;
    color: whitesmoke;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0.3rem 0;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover{
    background-color: #3d3b70;
}


/* .questao1 {

    background-color: white;
}

.resolucao_questao1{

    margin-left: 1rem;
}

.resolucao_questao1a{
    margin-left: 1rem;
}

resolucao_questao1b{
    margin-left: 1rem;
}

.questao2 {
    background-color: #252440;
    color: whitesmoke;
}

.resolucao_questao2{
    margin-left: 1rem;
    margin-top: 1rem;
}

.resolucao_questao3{
    margin-left: 1rem;
    margin-top: 1rem;
}

.questao4 {
    background-color: #252440;
    color: whitesmoke;
}


.questao6 {
    background-color: #252440;
    color: whitesmoke;
}

.resolucao_questao6a{
    margin-left: 2rem;

}

.resolucao_questao6b{
    margin-left: 2rem;

}

.resolucao_questao6c{
    margin-left: 2rem;
    
} */