* {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.titulo {
    /* border: 0.5rem solid red; */
    text-align: center;
    background-color: #252440;
    color: whitesmoke;

}

.menu{
    /* width: 50rem; */
    display: flex;
    /* border: 0.3rem solid aqua; */
    margin-inline: 0.1rem;
    /* padding: 1rem; */
    justify-content: end;
    text-align: center;
    
}

.questao1 {
    /* border: 0.5rem solid blue; */
    background-color: white;
}

.resolucao_questao1{
    /* border: 0.2rem solid rgb(11, 11, 107); */
    margin-left: 1rem;
}

.resolucao_questao1a{
    margin-left: 1rem;
}

resolucao_questao1b{
    margin-left: 1rem;
}

.questao2 {
    background-color: #252440;
    color: whitesmoke;
}

.resolucao_questao2{
    margin-left: 1rem;
    margin-top: 1rem;
}

.questao3 {
     /* border: 0.5rem solid orange; */
}

.resolucao_questao3{
    margin-left: 1rem;
    margin-top: 1rem;
}

.questao4 {
    background-color: #252440;
    color: whitesmoke;
}

.questao5 {
    /* border: 0.5rem solid purple; */
}

.questao6 {
    background-color: #252440;
    color: whitesmoke;
}

.resolucao_questao6a{
    margin-left: 2rem;

}

.resolucao_questao6b{
    margin-left: 2rem;

}

.resolucao_questao6c{
    margin-left: 2rem;
    
}